node_modules
dist
.env
.env.*
!.env.example
!**/.env.example
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
*-dev.log
*-dev.err.log
*-preview.log
*-preview.err.log
*-preview-*.log
*-preview-*.err.log
server-prod-check*.log
server-prod-check*.err.log
*.local
.DS_Store
